 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parent_Suite">
<listeners>
<listener class-name="listnerp.ListenerDemo"></listener>
</listeners>
<test thread-count="5" name="Test">
<classes>
<class name="listnerp.TestcaseListner" />
</classes>
</test>
</suite>
<!-- Suite -->